body {
    font-family: "Liberation Sans", sans-serif, Verdana;
    font-size: 15px;
    line-height: 1em;
    padding: 10px 30px;
    background-color: white;
    text-align: justify;
}

li {
    list-style-type: none;
}

a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    /*font-size: 1em;*/
}

a:hover,
a:focus {
    outline: none;
}

a {
    color: #10649b;
    text-shadow: none;
    padding: 6px 0;
}

a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: black;
    opacity: 0;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: -webkit-transform 0.1s, opacity 0.1s;
    -moz-transition: -moz-transform 0.1s, opacity 0.1s;
    transition: transform 0.1s, opacity 0.1s;
    pointer-events: none;
}

a:hover::before,
a:focus::before {
    opacity: 0;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
}

a:hover::after,
a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
