body {
    font-family: "Liberation Sans", sans-serif, Verdana;
    font-size: 13px;
    line-height: 1.8em;
    padding: 10px;
    background-color: #fff;
}

li {
    list-style-type: none;
}

a {
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    color: #333;
}

ul {
    -webkit-margin-before: 0;
    -webkit-padding-start: 22px;
}

a:hover {
    font-size: 12px;
    line-height: 1.9em;
}